*:focus {
  outline: 0 !important;
}

nav {
  height: 105px;
}

.header_logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 35px 0;
}

.header_logo-link {
  color: #ffffff;
  text-decoration: none;
}

.header_logo-link:hover {
  color: #ffffff;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40.5px 0;
  margin-bottom: 0;
  list-style-type: none;
}

.header_menu-link {
  color: #ffffff;
  text-decoration: none;
}

.header_menu-link:hover {
  color: #ffffff;
}

.promo {
  width: 100%;
  min-height: 770px;
  background: url("../img/backgrounds/bg_1.jpg") center center/cover no-repeat;
  padding: 323px 0 260px 0;
  margin-top: -105px;
}

.promo_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo_subtitle {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-top: 19px;
}

.promo_btn {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 2px;
  border: solid 2px #ffffff;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 50px;
}

.promo_btn:hover {
  color: #c0301c;
  background-color: #ffffff;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #555555;
  text-transform: uppercase;
}

.divider {
  display: block;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  margin-top: 29px;
  background-color: #555555;
}

.descr {
  margin-top: 28px;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #555555;
}

.services {
  min-height: 578px;
  padding: 100px 0 100px 0;
}

.services_menu-item {
  display: block;
  width: 345px;
  margin: 0 auto;
}

.services_menu-btn {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 70px;
  border: solid 2px #dddddd;
  background-color: #ffffff;
  border-radius: 100%;
}

.services_menu-btn .fa.fa-font::before {
  font-size: 40px;
  color: #c0301c;
}

.services_menu-btn .fa.fa-code::before {
  font-size: 40px;
  color: #c0301c;
}

.services_menu-btn .fa.fa-life-ring::before {
  font-size: 49px;
  color: #c0301c;
}

.services_menu-btn:hover {
  background-color: #c0301c;
  outline: none;
}

.services_menu-btn:hover .fa.fa-font::before {
  color: #ffffff;
}

.services_menu-btn:hover .fa.fa-code::before {
  color: #ffffff;
}

.services_menu-btn:hover .fa.fa-life-ring::before {
  color: #ffffff;
}

.services_menu-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #555555;
  margin-top: 29px;
}

.services_menu-descr {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  color: #555555;
  margin-top: 24px;
}

.about {
  min-height: 852px;
  padding: 99px 0;
  background-color: #f8f8f8;
}

.about_descr {
  margin-top: 70px;
}

.about_descr-item {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  color: #555555;
}

.about .carousel {
  margin-top: 71px;
}

.about .carousel__view {
  width: 100%;
  min-height: 315px;
  background: #f8f8f8;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.about .carousel__view .js-carousel-prev {
  top: 35%;
  left: 0;
}

.about .carousel__view .js-carousel-next {
  top: 35%;
  right: 0;
}

.about .carousel__view .carousel__control {
  position: absolute;
  z-index: 1;
  height: 35px;
  width: 38px;
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.about .carousel__view .carousel__control:hover {
  background-color: rgba(192, 48, 28, 0.8);
}

.about .carousel__view .carousel__control .arrow {
  display: block;
  text-align: center;
  margin-top: 9px;
  color: #f8f8f8;
}

.about .carousel__view .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  list-style: none;
  height: 250px;
}

.about .carousel__view .product-list__item {
  width: 263px;
  min-height: 315px;
  display: inline-block;
}

.about .carousel__view .product-list__item .product {
  height: 250px;
  width: 100%;
  position: relative;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.about .carousel__view .product-list__item .product_1 {
  background: url("../img/workers/worker_1.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .product_2 {
  background: url("../img/workers/worker_2.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .product_3 {
  background: url("../img/workers/worker_3.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .product_4 {
  background: url("../img/workers/worker_4.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .product_5 {
  background: url("../img/workers/worker_1.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .product_6 {
  background: url("../img/workers/worker_2.jpg") center center/cover no-repeat;
}

.about .carousel__view .product-list__item .worker {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #555555;
  margin-top: 20px;
  z-index: 5;
}

.about .carousel__view .product-list__item .position {
  font-family: 'RobotoSlab', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #555555;
  margin-top: 15px;
}

.effect {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.effect_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  height: 28px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.effect_wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  margin-top: 190px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.effect_wrapper-item:hover {
  background-color: #c0301c;
}

.effect_wrapper-item .fab {
  color: #ffffff;
}

.effect:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */