@mixin hover_color
    color: #ffffff
@mixin hover_button
    color: #c0301c
    background-color: #ffffff
@mixin title 
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    font-weight: 400
    text-align: center
    color: #555555
    text-transform: uppercase
@mixin divider
    display: block
    width: 50px
    height: 2px
    margin: 0 auto
    margin-top: 29px
    background-color: #555555
@mixin descr
    margin-top: 28px
    font-family: 'RobotoSlab', sans-serif
    font-size: 16px
    font-weight: 400
    text-align: center
    color: #555555

*:focus 
    outline: 0 !important

nav
    height: 105px

.header
    &_logo
        font-family: 'Montserrat', sans-serif
        font-size: 24px
        font-weight: 700
        text-align: center
        padding: 35px 0
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
    &_menu
        display: flex
        justify-content: space-between
        padding: 40.5px 0
        margin-bottom: 0
        list-style-type: none
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
  
.promo
    width: 100%
    min-height: 770px
    background: url('../img/backgrounds/bg_1.jpg') center center/cover no-repeat
    padding: 323px 0 260px 0
    margin-top: -105px
    &_title
        font-family: 'Montserrat', sans-serif
        font-size: 48px
        font-weight: 400
        text-align: center
        text-transform: uppercase
        color: #ffffff
    &_subtitle
        font-family: 'RobotoSlab', sans-serif
        font-size: 20px
        font-weight: 400
        text-align: center
        color: #ffffff
        margin-top: 19px
    &_btn
        display: block
        width: 180px
        height: 50px
        border-radius: 2px;
        border: solid 2px #ffffff;
        background-color: rgba(0, 0, 0, .0)
        font-family: 'Montserrat', sans-serif
        font-size: 16px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        color: #ffffff
        margin: 0 auto
        margin-top: 50px
        &:hover
            @include hover_button

.title
    @include title
.divider
    @include divider
.descr
    @include descr

.services
    min-height: 578px
    padding: 100px 0 100px 0
    &_menu
        &-item
            display: block
            width: 345px
            margin: 0 auto
        &-btn
            display: block
            width: 90px
            height: 90px
            margin: 0 auto
            margin-top: 70px
            border: solid 2px #dddddd
            background-color: #ffffff
            border-radius: 100%
            .fa.fa-font
                &::before
                    font-size: 40px
                    color: #c0301c
            .fa.fa-code
                &::before
                    font-size: 40px
                    color: #c0301c
            .fa.fa-life-ring
                &::before
                    font-size: 49px
                    color: #c0301c   
            &:hover
                background-color: #c0301c
                outline: none   
                .fa.fa-font
                    &::before
                        color: #ffffff 
                .fa.fa-code
                    &::before
                        color: #ffffff
                .fa.fa-life-ring
                    &::before
                        color: #ffffff        
        &-title
            font-family: 'Montserrat', sans-serif
            font-size: 14px
            font-weight: 400
            text-align: center
            color: #555555
            margin-top: 29px
        &-descr
            font-family: 'RobotoSlab', sans-serif
            font-size: 14px
            font-weight: 400
            line-height: 1.71
            text-align: center
            color: #555555
            margin-top: 24px

.about
    min-height: 852px
    padding: 99px 0
    background-color: #f8f8f8
    &_descr
        margin-top: 70px
        &-item
            font-family: 'RobotoSlab', sans-serif
            font-size: 14px
            font-weight: 400
            line-height: 1.71
            text-align: left
            color: #555555
    .carousel
        margin-top: 71px
        &__view
            width: 100%
            min-height: 315px
            background: #f8f8f8
            margin: auto
            overflow: hidden
            position: relative
            .js-carousel-prev
                top: 35%
                left: 0
            .js-carousel-next
                top: 35%
                right: 0 
            .carousel__control
                position: absolute
                z-index: 1
                height: 35px
                width: 38px
                background-color: rgba(#555555,.5)
                transition: background-color .3s
                &:hover
                    background-color: rgba(#c0301c,.8)
                .arrow
                    display: block
                    text-align: center
                    margin-top: 9px
                    color: #f8f8f8
            .product-list
                display: flex
                justify-content: space-between
                position: absolute
                margin: 0
                padding: 0
                transition: transform .3s
                transform: translateX(0px)
                list-style: none
                height: 250px
                &__item 
                    width: 263px
                    min-height: 315px
                    display: inline-block
                    .product 
                        height: 250px
                        width: 100%
                        position: relative
                        transition: 0.4s ease-out
                        &_1
                            background: url('../img/workers/worker_1.jpg') center center/cover no-repeat
                        &_2
                            background: url('../img/workers/worker_2.jpg') center center/cover no-repeat
                        &_3
                            background: url('../img/workers/worker_3.jpg') center center/cover no-repeat
                        &_4
                            background: url('../img/workers/worker_4.jpg') center center/cover no-repeat
                        &_5
                            background: url('../img/workers/worker_1.jpg') center center/cover no-repeat
                        &_6
                            background: url('../img/workers/worker_2.jpg') center center/cover no-repeat
                    .worker
                        font-family: 'Montserrat', sans-serif
                        font-size: 14px
                        font-weight: 400
                        text-align: center;
                        color: #555555;
                        margin-top: 20px
                        z-index: 5
                    .position
                        font-family: 'RobotoSlab', sans-serif
                        font-size: 13px
                        font-weight: 400
                        text-align: center
                        color: #555555
                        margin-top: 15px

.effect
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.25)
    opacity: 0
    transition: 0.4s ease-out
    &_wrapper
        display: flex
        width: 112px
        height: 28px
        flex-direction: row
        margin: 0 auto
        &-item
            display: flex
            width: 28px
            height: 28px
            margin-top: 190px
            justify-content: center
            align-items: center
            cursor: pointer
            &:hover
                background-color: #c0301c
            .fab
                color: #ffffff
    &:hover
        opacity: 1


            
        
    

