@mixin hover_color
    color: #ffffff
@mixin hover_button
    color: #c0301c
    background-color: #ffffff
@mixin title 
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    font-weight: 400
    text-align: center
    color: #555555
@mixin divider
    display: block
    width: 50px
    height: 2px
    margin: 0 auto
    margin-top: 29px
    background-color: #555555
@mixin descr
    margin-top: 28px
    font-family: 'RobotoSlab', serif
    font-size: 16px
    font-weight: 400
    text-align: center
    color: #555555
    
*:focus 
    outline: 0 !important

nav
    height: 105px

.header
    height: 105px
    &_logo
        font-family: 'Montserrat', sans-serif
        font-size: 24px
        font-weight: 700
        text-align: center
        padding: 35px 0
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
    &_menu
        display: flex
        justify-content: space-between
        padding: 40.5px 0
        margin-bottom: 0
        list-style-type: none
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
  
.promo
    width: 100%
    min-height: 770px
    background: url('../img/backgrounds/bg_1.jpg') center center/cover no-repeat
    padding: 323px 0 260px 0
    margin-top: -105px
    &_title
        font-family: 'Montserrat', sans-serif
        font-size: 48px
        font-weight: 400
        text-align: center
        text-transform: uppercase
        color: #ffffff
    &_subtitle
        font-family: 'RobotoSlab', serif
        font-size: 20px
        font-weight: 400
        text-align: center
        color: #ffffff
        margin-top: 19px
    &_btn
        display: block
        width: 180px
        height: 50px
        border-radius: 2px;
        border: solid 2px #ffffff;
        background-color: rgba(0, 0, 0, .0)
        font-family: 'Montserrat', sans-serif
        font-size: 16px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        color: #ffffff
        margin: 0 auto
        margin-top: 50px
        outline: none
        &:hover
            @include hover_button

.services
    min-height: 578px
    padding: 100px 0 100px 0
    .title
        @include title
    .divider
        @include divider
    .descr
        @include descr
    &_menu
        &-item
            width: 345px
        &-btn
            display: block
            width: 90px
            height: 90px
            margin: 0 auto
            margin-top: 70px
            border: solid 2px #dddddd
            background-color: #ffffff
            border-radius: 100%
            outline: none
            &:hover
                background-color: #c0301c
                outline: none
        &-title
            font-family: 'Montserrat', sans-serif
            font-size: 14px
            font-weight: 400
            text-align: center
            color: #555555
            margin-top: 29px
        &-descr
            font-family: 'RobotoSlab', serif
            font-size: 14px
            font-weight: 400
            line-height: 1.71
            text-align: center
            color: #555555
            margin-top: 24px