@mixin hover_color
    color: #ffffff
@mixin hover_button
    color: #c0301c
    background-color: #ffffff
@mixin title 
    font-family: 'Montserrat', sans-serif
    font-size: 20px
    font-weight: 400
    text-align: center
    color: #555555
    text-transform: uppercase
@mixin divider
    display: block
    width: 50px
    height: 2px
    margin: 0 auto
    margin-top: 29px
    background-color: #555555
@mixin descr
    margin-top: 28px
    font-family: 'RobotoSlab', sans-serif
    font-size: 16px
    font-weight: 400
    text-align: center
    color: #555555
    
*:focus 
    outline: 0 !important

nav
    height: 105px

.header
    &_logo
        font-family: 'Montserrat', sans-serif
        font-size: 24px
        font-weight: 700
        text-align: center
        padding: 35px 0
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
    &_menu
        display: flex
        justify-content: space-between
        padding: 40.5px 0
        margin-bottom: 0
        list-style-type: none
        &-link
            color: #ffffff
            text-decoration: none
            &:hover
                @include hover_color
  
.promo
    width: 100%
    min-height: 770px
    background: url('../img/backgrounds/bg_1.jpg') center center/cover no-repeat
    padding: 323px 0 260px 0
    margin-top: -105px
    &_title
        font-family: 'Montserrat', sans-serif
        font-size: 48px
        font-weight: 400
        text-align: center
        text-transform: uppercase
        color: #ffffff
    &_subtitle
        font-family: 'RobotoSlab', sans-serif
        font-size: 20px
        font-weight: 400
        text-align: center
        color: #ffffff
        margin-top: 19px
    &_btn
        display: block
        width: 180px
        height: 50px
        border-radius: 2px;
        border: solid 2px #ffffff;
        background-color: rgba(0, 0, 0, .0)
        font-family: 'Montserrat', sans-serif
        font-size: 16px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        color: #ffffff
        margin: 0 auto
        margin-top: 50px
        &:hover
            @include hover_button

.title
    @include title
.divider
    @include divider
.descr
    @include descr

.services
    min-height: 578px
    padding: 100px 0 100px 0
    &_menu
        &-item
            width: 345px
        &-btn
            display: block
            width: 90px
            height: 90px
            margin: 0 auto
            margin-top: 70px
            border: solid 2px #dddddd
            background-color: #ffffff
            border-radius: 100%
            .fa.fa-font
                &::before
                    font-size: 40px
                    color: #c0301c
            .fa.fa-code
                &::before
                    font-size: 40px
                    color: #c0301c
            .fa.fa-life-ring
                &::before
                    font-size: 49px
                    color: #c0301c   
            &:hover
                background-color: #c0301c
                outline: none   
                .fa.fa-font
                    &::before
                        color: #ffffff 
                .fa.fa-code
                    &::before
                        color: #ffffff
                .fa.fa-life-ring
                    &::before
                        color: #ffffff        
        &-title
            font-family: 'Montserrat', sans-serif
            font-size: 14px
            font-weight: 400
            text-align: center
            color: #555555
            margin-top: 29px
        &-descr
            font-family: 'RobotoSlab', sans-serif
            font-size: 14px
            font-weight: 400
            line-height: 1.71
            text-align: center
            color: #555555
            margin-top: 24px

.about
    min-height: 852px
    padding: 99px 0
    background-color: #f8f8f8
    &_descr
        margin-top: 70px
        &-item
            font-family: 'RobotoSlab', sans-serif
            font-size: 14px
            font-weight: 400
            line-height: 1.71
            text-align: left
            color: #555555
    &_carousel
        width: 100%
        margin-top: 71px
        position: relative
        &-inner
            overflow: hidden
        &-track
            display: flex
            justify-content: space-between
            transition: transform 0.5s
        &-card
            width: 263px
            flex-shrink: 0
            height: 304px
            margin: 0 27.5px
            .card
                width: 100%
                height: 250px
                border: 1px solid #ccc
        &-title
            font-family: 'Montserrat', sans-serif
            font-size: 14px
            font-weight: 400
            text-align: center
            color: #555555
            margin-top: 20px
        &-subtitle
            font-family: 'RobotoSlab', sans-serif
            font-size: 13px
            font-weight: 400
            text-align: center
            color: #555555
            margin-top: 15px
        &-nav
            button
                width: 60px
                height: 60px
                border: 1px solid #aaa
                position: absolute
                top: 50%
                transform: translateY(-50%)
                cursor: pointer
            .prev
                left: -30px
                display: none
            .prev.show
                display: block
            .next
                right: -30px
            .next.hide
                display: none
        
    

